<div class="jumbotron">
    <h1>Azure AD MVC Separate API Sample App</h1>
    <p class="lead">Demonstrates an ASP.Net WebAPI secured by Azure Active Directory.</p>
    <p>All security operations are handled using the OWIN OpenIdConnect middleware (MVC) provided by Microsoft.</p>
</div>